@import "../../assets/stylesheets/fonts.scss";

#landingCont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

#header {
  font-size: 2em;
  padding: 1em;
}

#subheader {
  font-size: 1.5em;
}

#titleCont {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: $lora;
}

#getStarted {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  font-family: $montserrat;
  height: 25%;
}
