
@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';

#itCont {
  border: solid 2px $burntOrange;
  border-radius: 3px;
  padding: 1em;
  margin: 2em 0em;
  // can obv change, was just fun looking
  box-shadow: 1px 1px 5px $burntOrange;
}

#itInput {
  width: 50%;
}

#itButton {
  // width: 25%;
  // margin: 0em 2em;
  // flex: 1 1 0;
}

#itForm {
  justify-content: center;
  // justify-content: flex-start;
  padding-top: 1em;
  // width: 100%;
}

#itButtonCont {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  // width: 50%;
}