
@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';

#paCont {
  border: solid 2px $red;
  border-radius: 3px;
  padding: 1em;
  margin: 1em 0em;
  box-shadow: 1px 1px 5px $darkRed;
}

#paSubHeader {
  padding-bottom: .5em;

}

#selectPA {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  padding: .5em;
}

#inputCont {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;

}