@import "../../assets/stylesheets/fonts.scss";
@import "../../assets/stylesheets/colors.scss";


// Move to flex instead of %s
#homeCont {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#homeGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#testMainRow {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  // justify-content: space-between;
  padding-top: 2em;
  width: 100%;
}

#testColOne {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 80vh;
}
#testColTwo {
  width: 40%;
  height: 80vh;
}

#homeHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: solid 2px $babyBlue;
  padding: 1em;
}
