@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';

#fileTreeMainCont {
  flex: 1 1 30%;
  padding: 0 .5em;
  height: 100%;
  }
  
  #fileTreeCont {
    padding: 0 .5em;
    margin: .5em;
    border: 1px solid $red;
    border-radius: 3px;
    box-shadow: 1px 1px 5px $red;
    // putting height here makes it automatically
    // fill to it's parent container
    height: 74vh;
    overflow-y: auto;
}

#fileName {
  font-family: $raleway;
  padding-bottom: .5em;
}

#filesButtonFolder {
  text-align: start;
  width: 100%;
  font-family: $montserrat;
  border-radius: 3px;
  font-size: .75em;
  margin: .25em 0em;
  padding: .25em;
  border: none;
  color: $darkRed;
  background-color: white;
  transition: .25s;
  border-bottom: .25px solid $darkRed;
  cursor: pointer;  
}

// To apply styling to button while selected
#filesButtonFolder:active, #filesButtonFolder:focus {
  background-color: $darkRed;
  color:white;
}

#filesButtonFolder:hover {
  background-color: $darkRed;
  color:white;
  transition: .25s;
}
#filesButtonFile {
  margin: .25em 0em;
  text-align: start;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;  
  font-family: $montserrat;
  font-size: .65em;
  padding: .25em;
  padding-left: 1.5em;
  border: none;
  color: $red;
  background-color: white;
  transition: .25s;
}

// To apply styling to button while selected
#filesButtonFile:active, #filesButtonFile:focus {
  background-color: $red;
  color:white;
}

#filesButtonFile:hover {
  background-color: $red;
  color:white;
  transition: .25s;
}
