@import '../../assets/stylesheets/fonts.scss';
@import '../../assets/stylesheets/colors.scss';


// Needs work - differentiate between files and folders here

#fileTreeCont {
  width: 30%;
}

#treeCont {
  padding-left: .5em;
}

#fileName {
  font-family: $lora;
  border-bottom: 1px solid $babyBlue;
  padding: .5em;
}

#filesButtonFolder {
  font-family: $montserrat;
  font-size: 1em;
  padding: .5em;
  border: none;
  color: $babyBlue;
  background-color: white;
  transition: .25s;
  border-bottom: .25px solid $babyBlue;  
}

#filesButtonFolder:hover {
  background-color: $babyBlue;
  color:white;
  transition: .25s;
}
#filesButtonFile {
  font-family: $montserrat;
  font-size: 1em;
  padding: 1em;
  border: none;
  color: $babyBlue;
  background-color: white;
  transition: .25s;
  // border-bottom: .25px solid $babyBlue;
}

#filesButtonFile:hover {
  background-color: $babyBlue;
  color:white;
  transition: .25s;
}

ul {
  list-style-type: none;
  // color: $babyBlue;
}

#noTree {
  
}