@import "../../assets/stylesheets/fonts.scss";
@import "../../assets/stylesheets/colors.scss";

#mainCont {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#image{
  justify-self: center;
}
h2 {
  font-size: 25;
  font-family: $montserrat
}

h3 {
  font-size: 20;
  font-family: $montserrat
}

p {
  font-family: $montserrat
}
